.dropdown-toggle,a
{
    cursor: pointer;
}
.navbar
{
    background-color: rgb(22, 28, 117);
    color: white ;
    font-size: 20px;
}
.nav-link,.navbar-brand,span
{
    color:white;
}
.badge
{
 font-size: 15px;
 font-weight: 10px;
 width: 30px;
}