mat-form-field{
    width:100%;
    color: solid black;
}
mat-hint,mat-label,mat-radio-button
{
    color: rgb(22, 28, 117) !important;
}
mat-radio-button
{
    margin-right: 5px;
}
mat-card
{
    margin-top: 10px;
    margin-left: 15%;
    padding: 15px;
    width: 30%;
    float: left;
}
.uniqueIDcheck
{
    background-color: lawngreen;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
}
.profileload
{  
    justify-content: space-evenly;
    display: flex;
    margin-top: 5%;
}
form,.custmessage,.profileloadhead 
{
    margin-top: 5%;
    margin-left: 15%;
    padding: 10px;
    width: 30%;
    float: left;
}
.profileloadhead
{
    text-align: center;
    margin-top: 5%;
}
.formgrouptwo
{
 text-align: center;
 margin-bottom: 5%;
}
.btnone
{
    margin-left: 40%;
}
.btntwo
{   
 color: white;
 border-radius: 10px;
 margin-right: 5%;
 background-color:rgb(22, 28, 117);

}
.background-avatar
{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQGHreFTZShUSqbloN3MLyxUN5svpdfIleiWoaUQVsBO0bDXX3y&usqp=CAU');
    background-size: cover;
}

